<br>
<h1><%= @event.content %></h1>
<br>

<% @categories.each do |category| %>
  <div class="media">
    <div class="media-body">
      <h3 class="mt-0"><%= category.content %></h3>
      <br>
      <% Wish.where(category_id: category.id).each do |wish| %>
        <p><%= wish.content %> <a class="" href="<%= design_cards_path(wish_id: wish.id) %>">Nhấn vào đây để tạo thiệp</a></p>
      <% end %>
    </div>
  </div>
  <br>
<% end %>