<br>
<h2>Danh sách thiệp</h2>
<br>

<% if params[:role] == role_admin && is_current_admin? %>
  <%= render "list_card_admin.html.erb" %>
<% else %>
  <%= render "list_card_user.html.erb" %>
<% end %>

